<header class="container">
    <div class="container py-2 row align-items-end justify-content-between">
        <div class="col-8">
            <span class="text-primary display-6">
                <a [routerLink]="['/']" class="text-decoration-none">Assignment app</a>
            </span>
            <p class="text-muted small">Lorem ipsum dolor sit amet.</p>
        </div>
    
        <div class="col-4">
            <app-header-nav>
            </app-header-nav>
        </div>
    </div>
</header>
