<div class="bg-light p-4 shadow rounded-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['revenues']" routerLinkActive="active">Daily Revenues in {{ currency }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['settings']" routerLinkActive="active">User Setting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['logout']" routerLinkActive="active">Log out</a>
        </li>
    </ul>

    <div class="bg-white p-4 shadow-sm">
        <router-outlet> </router-outlet>
    </div>
</div>
